<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transactions, starting with the ICO -->

<!-- Step 2: Calculate and display the balances -->

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->